#ffffff  #434455  #2e2f42  #404bbf  #4d5ae5  #f4f4fd;  #e7e9fc
:root { 
--primary-bg-color: #ffffff;
--primary-font-color: #434455;
--secondary-font-color: #2E2F42; 
--secondary-bg-color:#2E2F42;
--logo-color: #4D5AE5;
--section-team-bg-color: #F4F4FD;
--footer-inf-color:#E7E9FC;
--active-nav-color:#404BBF;

}

/* Global styles */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-font-color);
  background-color: var(--primary-bg-color);
}


.list {
	list-style-type: none;
}

ul {
	margin: 0;
	padding: 0;
}



.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.logo {
	font-family: "Raleway";
	font-weight: 800;
	font-size: 18px;
	line-height: 1.3;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--logo-color);
}
.header-text-studio {
	color: var(--logo-text-studio);
}

.link {
	text-decoration: none;
}

.nav-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--nav-link-color);
}
.nav-link:hover,
.nav-link:focus {
	color: var(--nav-link-color-hover);
}

/* Contacts */

.contacts-number {
	font-style: normal;
	font-size: 16px;
	line-height: 1.5;
	color: var(--contacts-color);
	letter-spacing: 0.02em;
	text-decoration: none;
}

.contacts-email {
	font-style: normal;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--contacts-color);
	text-decoration: none;
}

.contacts-email:hover,
.contacts-email:focus {
	color: var(--contacts-color-mail-hover);
}

.hero {
	background-color: var(--hero-bg-color);
}

.title {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--title-color);
}

.button {
	cursor: pointer;
  font-family: 'Roboto';
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
  letter-spacing: 0.04em;
}

.button.primary {

	color: var(--button-primary-color);
	background: var(--button-primary-bg-color);
	box-shadow: var(--button-primary-box-shadow-color);
	border-radius: 4px;
}

.button.primary:hover,
.button.primary:focus {
	background-color: var(--button-primary-bg-color-hover);
}

.future {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.list-work {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--title-color);
}

.section-team {
	background-color: var(--section-team-bg-color);
}

.team-card {
	background-color: var(--team-card-bg-color);
}

.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--team-title-color)
}
.team-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.02em;
	color:var(--team-name-color);
}

.team-stecialist {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--tam-specialist-color);
}

.footer {
	background-color: var(--footer-bg-color);
}

.footer-text-studio {
	color: var(--footer-logo-text-studio-color);
}
.footer-information {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--fotter-text-inf-color);
}

/* Portfolio Button */

.button.secondary {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	color: var(--button-secondary-color);
	background: var(--button-secondary-bg-color);
	border: 1px solid var(--button-secondary-border-color);
	border-radius: 4px;
}

.button.secondary:hover,
.button.secondary:focus {
	background-color: var(--button-primary-bg-color-hover);
}

.list-portfolio {
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.item-portfolio {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
